.detailRootTag {
    overflow: hidden; /* 스크롤을 없애는 속성 */
    padding: 20px;
	margin-left: 80px;
    background-color: #EFF2FF;
    /* height: 2000px; */
}

.detailTagList{
    background-color: #EFF2FF;
}

/** 윗면 나브 바 고정  */
.upperNav {
    justify-content: space-between;
    position: fixed;

    top: 0;
    /*left: 5;
    right: 1; */
    /* display: flex; */
    justify-content: space-between;
    align-items: center;
} 

#upperNavPng {
    position: relative;

    width: 100%;
    /* height: 100%; */
    top: 0;
    left: 5;
    right: 0;
    z-index: 1;

}

#upperNavInfo {
    position: relative;
    z-index: 2;

    font-size:x-large;
    font-weight: 800;

    margin-top: -4.2%;
    margin-left: 30%;
}


#upperNavPlus {
    position: relative;
    z-index: 2;

    padding-bottom: 1.5%;
    margin-top: -50%;
    margin-left: 38%;
    max-width: 50px;
}

#upperNavUserName {
    position: relative;
    z-index: 2;

    margin-top: -4.2%;
    margin-left: 87%;
    font-size:x-large;
    font-weight: 500;
}

#upperNavUserPng {
    position: relative;
    z-index: 2;

    padding-bottom: 1%;
    margin-top: -50%;
    margin-left: 95%;
    max-width: 90px;
}


.pageContainer {
    margin-left: 3%;
}

.detailTag {
    margin-top: 5vh;
}

.detailTitle {
    margin-top: 0.8%;
    margin-bottom: 0%;
    font-size:xx-large;
    font-weight: 800;
}

.detailContent {
    margin-top: 0.8%;
    margin-bottom: 0%;
    font-size:larger;
    font-weight: 500;
}

.detailSource {
    margin-top: 3%;
    margin-bottom: 2%;
    font-size:medium;
    font-weight: 300;
}

/* .detailPowerbi {
    width: '1000px';
    height: '600px';
} */

#reportContainer {
    /* min-width: 1080px; */
    height: 600px;
    /* height: 3000px; */
    
    text-align: center;
}

#chartContainer {
    text-align: center;
}

#iframe {
    height: 580px;
}

.newsContainer {
    
}

.subTitle {
    font-size: 28px;
    font-weight: bold;
    margin: 7vh 0 3vh;
}
