.main_stuff {
    text-decoration: none;
    width: 360px;
    height: 240px;
    border-radius: 10px;
    background: #fbfbff;
    /* padding: 10px; */
    margin: 20px 10px;
}

#title {
    position: relative;

    width: 330px;
    height: 60px;

    /* margin-left: 27.5px; */
    margin: 0 auto;
    padding-top: 20px;
    margin-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 0px;

    color: #000;
    font-family: Pretendard;

    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

#content {
    position: relative;
    text-align: left;

    width: 330px;
    height: 95px;
    /* margin-left: 30px; */
    margin: 0 auto;
    /* padding-right: 45px; */
    margin-top: 0px;
    margin-bottom: 0px;

    color: #000;
    font-family: Pretendard;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#content_text {
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.discribe_box {
    display: flex;
}

#date {
    flex-direction: row;
    justify-content: center;
    width: 145px;
    height: 30px;

    margin: 0px 20px 0px auto;
    padding: 0px;

    color: #505050;
    text-align: center;
    font-family: Pretendard;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#author {
    display: flex;
    flex-direction: row;
    height: 30px;
    justify-content: center;

    margin: 0px 10px 0px 30px;
    padding: 0px;

    color: #60abfb;
    text-align: center;
    font-family: Pretendard;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
