/** login.html 파일의 css */

.page_container {
    background-image: url("../media/background_login.png");
    background-size: cover; /* 화면에 가득 채우도록 조정 */
    background-repeat: no-repeat; /* 이미지 반복 없음 */
    background-color: #000B1B;
    overflow: hidden; /* 스크롤을 없애는 속성 */

}

.login_stuff {
      /* login_stuff 태그 내부의 모든 요소를 가운데 정렬합니다. */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* 화면 높이를 전체 화면 높이로 설정하여 세로 가운데 정렬합니다. */
    margin: 0; /* login_stuff 태그의 기본 margin을 제거합니다. */
    flex-direction: column; /* 수직으로 배치하도록 변경합니다. */

}

/* 반투명 배경 이미지 */
.overlay {
    position: absolute;
    width: 50%;
    height: 90%;
    border-radius: 20px;
    background-color: rgba(14, 21, 30, 0.1); /* 반투명 배경 색상 (RGBA 색상 값, 투명도 값) */
    backdrop-filter: blur(7.5px); /* 블러 효과 적용 (5px는 블러의 강도를 조절) */
    z-index: 1; /* 배경 이미지 위에 위치하도록 z-index 설정 */
}

#logo_img {
    z-index: 2;
    max-width: 5vw;  /* vw 현재 열려있는 브라우저 width값의 n% */
    height: auto;
    display: block;
}

#signup_stuff {
    z-index: 2;
    display: flex;
    flex-direction: column; /* 내부 요소들을 세로로 정렬합니다. */
    align-items: center; /* 세로로 가운데 정렬합니다. */
    color: white; /* 텍스트 색상 설정 */
}

#service_name {
    position: absolute;
    max-width: 8vw;  /* vw 현재 열려있는 브라우저 width값의 n% */
    margin-top: 1vw;
}

#sign_up {
    padding-top: 5vw;
    margin-right: 50vh;
}

#box {
    z-index: 2;
    width: 20vw;  /* vw 현재 열려있는 브라우저 width값의 n% */
    margin-top: 1vw;
    background-color: #ffff;
    border-radius: 3px;
    color: #5170FD; /* 텍스트 색상 설정 */
    font-size: medium;
}

#job_check {
    z-index: 2;
    display: flex;
    align-items: center; /* 세로로 가운데 정렬합니다. */
    width: 30vw; /* 이미지의 너비를 300px로 설정합니다. */
    height: auto; 
    margin-top: 2vw;
}

#box_button {
    z-index: 2;
    width: 10vw;  /* vw 현재 열려있는 브라우저 width값의 n% */
    margin-top: 1vw;
    background-color: #ffff;
    border-radius: 3px;
    color: #5170FD; /* 텍스트 색상 설정 */
    font-size: bold;

    text-align:center;
    /* Flexbox 스타일을 추가하여 요소 내부를 가운데로 정렬합니다. */
    display: flex;
    align-items: center;
    justify-content: center;
}