.top_nav_root {
    margin: 20px

    /* 나브 바 고정 */
    /* justify-content: space-between;
    position: fixed;
    top: 0; */
}

#menu_titlebar {
    margin-left: 1vw;
    width: 90vw;
    height: 80px;
    background-color: #ffffff;
    border-radius: 20px 20px 0 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#menu_left,
#menu_right {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 3vh;
    margin-right: 3vh;
}

#menu_img {
    width: 4vw;

}

#menu_title {
    margin-left: 3vh;
}

#user_name {
    margin-right: 3vh;
}